<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-WBhAfInUQ-4Ncxi2IwOA0MPZ0KDf0lM</string>
	<key>GCM_SENDER_ID</key>
	<string>379328720395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.filmHarbour</string>
	<key>PROJECT_ID</key>
	<string>film-harbour</string>
	<key>STORAGE_BUCKET</key>
	<string>film-harbour.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379328720395:ios:4126187c752fe483b9a10e</string>
</dict>
</plist>